<!DOCTYPE html>
<html lang="en"></html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title> Todo List </title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" > </br>
                    <span class="text-capitalize" > <strong>List of {{name}} Todos : </strong> </span> </br></br>
                    <ol type="1">
                            {% for todo in todos %}
                            <li class="bg-info"> {{todo}} </li>
                            {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

        <form>
            <label>Username:
                <input type="text" name="name" id="username_text"></input>
            </label>
            <label>Your Todo:
                    <input type="text" name="todo" id="todo_text"></input>
            </label>
            <button onclick="add_todos()" >Add Todo</button>
        </form>
    </body>

    <script>
        // 1. Detect Button Click
        // 2. Get username  & todo from form 
        // 3. Sending the request
        function add_todos(){
            console.log("Button clicked")
            var username = $('#username_text'); // $('.someclass')
            var todo = $('#todo_text');
            var username_val = username.val();
            var todo_val = todo.val();
            console.log(username_val,todo_val)
            $.ajax({
                url: '/add_todos',
                type: 'POST',
                data: {name:username_val,todo:todo_val}
            })
        }
    </script>

</html>
